@use "../../../styles/vars.module.scss";

.light {
  --button-border: #b5aef0;
  --button-color: #7c73ce;
  --button-hover: #e5e3fa;
  --button-open: #a8b346;

  --menu-link-bg: #e9eebd;
  --menu-link: #7c73ce;

  .button {
    background: #fff;
    color: var(--button-color);
    border: 2px solid var(--button-border);
    box-shadow: 1px 1px 3px vars.$light-shadow;

    svg {
      transition: fill 0.3s;
    }
  }

  .button:hover {
    background: var(--button-hover);
  }

  .openButton {
    color: var(--button-open);

    svg {
      fill: var(--button-open);
    }
  }

  .menu {
    background: #fff;
    box-shadow: 1px 1px 2px vars.$light-shadow;

    a:link, a:visited {
      color: var(--menu-link);
    }

    a:hover {
      background-color: var(--menu-link-bg);
    }
  }
}

.dark {
  --button-border: #8d85d3;
  --button-color: #a59dec;
  --button-hover: #1c193f;
  --button-open: #7f882b;

  --menu-link-bg: #7b7e67;
  --menu-link: #ebe9ff;

  .button {
    background: vars.$dark-bg;
    color: var(--button-color);
    border: 2px solid var(--button-border);
    box-shadow: 2px 2px 3px vars.$dark-shadow;
  }

  .button:hover {
    background: var(--button-hover);
  }

  .openButton {
    color: var(--button-open);

    svg {
      fill: var(--button-open);
    }
  }
  
  .menu { 
    background: vars.$dark-bg;
    box-shadow: 1px 1px 2px vars.$dark-shadow;

    a:link, a:visited {
      color: var(--menu-link);
    }

    a:hover {
      background-color: var(--menu-link-bg);
    }
  }
  
}

.nav {
  position: fixed;
  bottom: 3%;
  left: 3%;
  height: 50px;
  width: 50px;
  z-index: 20;

  @media screen and (min-width: 810px) {
    bottom: 10%;
    right: 4%;
  }

  .button {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 50%;
    transition: background 0.3s;
  }

  .button:hover {
    cursor: pointer;
  }

  .menu {
    position: fixed;
    bottom: calc(100px + 3%);
    left: 4.5%;
    width: 220px;
    padding: 1vh 0vw;
    border-radius: 5px;
    border: 1px solid var(--button-border);
    transition: opacity 0.3s;
    transform-origin: bottom left;

    ul {
      list-style: none;
      padding: 0;
    }

    a:link, a:visited {
      display: block;
      padding: 1vh 2vw;
    }
  }

  .closed {
    opacity: 0;
    visibility: hidden;
  }

  .open {
    visibility: visible;
    opacity: 1;
  }

}

