@use "../../../../styles/vars.module.scss";

.posts {
  width: 60%;

  .postStats {
    font-size: 11pt;
    margin-top: 1%;
    display: flex;
    gap: 3px;

    .postDates {
      font-size: 10pt;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .post {
    padding: 20px;
    border-radius: 10px;
    margin: 3% 0%;
  }
}

.light {
  .post {
    background: #fff;
    box-shadow: 2px 2px 3px vars.$light-shadow;

    .postStats {
      color: vars.$light-subtext;
    }
  }
}

.dark {
  .post {
    background: vars.$dark-text-bg;
    box-shadow: 2px 2px 3px vars.$dark-shadow;

    .postStats {
      color: vars.$dark-subtext;
    }
  }
}