@use "../../../../../../../styles/vars.module.scss";

.modalContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);

    .modalBody {
        width: 75%;
        height: 75%;
        z-index: 1001;
        border-radius: 10px;

        .modalHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2%;

            h2 {
                margin: 0;
            }

            .modalClose {
                cursor: pointer;
            }
        }

        .modalShareImg {
            img {
                border-radius: 5px;
            }

            .modalShareButtonsContainer {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 2%;

                .modalShareButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1%;
                    border-radius: 5px;
                }
            }
        }
    }
}



.light {
    background: #635cafbb;

    .modalBody {
        background: vars.$light-bg;

        .modalHeader {
            h2 {
                color: vars.$light-heading-2;
            }

            .modalClose {
                color: vars.$light-link;
            }
        }

        .modalShareImg {
            img {
                border: 1px solid vars.$light-button-border;
            }
            
            .modalShareButtonsContainer {
                .modalShareButton {
                    background-color: vars.$light-form-button-bg;
                    color: vars.$light-form-button-text;
                    border: 1px solid vars.$light-form-button-border;
                }
            }
        }
    }
}

.dark {
    background: rgba(31, 28, 53, 0.733);

    .modalBody {
        background: vars.$dark-bg;

        .modalHeader {
            h2 {
                color: vars.$dark-heading-2;
            }

            .modalClose {
                color: vars.$dark-link;
            }
        }

        .modalShareImg {
            img {
                border: 1px solid vars.$dark-button-border;
            }
            
            .modalShareButtonsContainer {
                .modalShareButton {
                    background-color: vars.$dark-form-button-bg;
                    color: vars.$dark-form-button-text;
                    border: 1px solid vars.$dark-form-button-border;
                }
            }
        }
    }
}