@use "../../../../styles/vars.module.scss";

.formPage {
  width: 80%;
  margin: auto;

  @media screen and (max-width: 812px) {
    width: 100%;
  }

  p {
    line-height: 1.5;
  }

  .formContainer {
    margin: 5vh 0% 10vh 0%;
    padding: 2% 5% 5% 5%;
    border-radius: 10px;

    .formIndexContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 3%;

      .formIndex {
        user-select: none;
        width: 1.8vw;
        height: 1.8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 0.9rem;
      }
    }

    .formPart {
      
      .formSection {

        .formLabel {
          display: flex;
          align-items: center;
          gap: 10px;

          .asterisk {
            font-weight: 800;
            font-size: 1.6rem;
          }
        }
      }
    }

    .formNavButtonContainer {
      position: relative;
      margin-top: 5%;

      .formNavButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 5px;
      }

      .formNavButton.prevButton {
        position: absolute;
        left: 0;
        width: 10%;
      }
      
      .formNavButton.nextButton {
        position: absolute;
        right: 0;
        width: 25%;
      }
    }
  }
}

.light {
  .formContainer {
    background: #fff;
    border: 1px solid vars.$light-shadow;

    .asterisk {
      color: vars.$light-link;
    }

    .formIndex.regular {
      border: 1px solid vars.$light-button-border;
      color: vars.$light-button-text;
    }

    .formNavButton, .formIndex.completed {
      border: 1px solid vars.$light-form-button-border;
      color: vars.$light-form-button-text;
      background-color: vars.$light-form-button-bg;
    }
  }
}

.dark {
  .formContainer {
    background: vars.$dark-text-bg;
    border: 1px solid vars.$dark-shadow;

    .asterisk {
      color: vars.$dark-link;
    }

    .formIndex.regular {
      border: 1px solid vars.$dark-button-border;
      color: vars.$dark-button-text;
      background-color: vars.$dark-heading-bg;
    }

    .formNavButton, .formIndex.completed {
      border: 1px solid vars.$dark-form-button-border;
      color: vars.$dark-form-button-text;
      background-color: vars.$dark-form-button-bg;
    }
  }
}