
.light {
  --button-bg-light: #dde29e;
  --button-text-light: #5f661c;
  --button-border-light: #b0b86a;

  .button {
    background: var(--button-bg-light);
    color: var(--button-text-light);
    border-color: var(--button-border-light);
  }
}

.dark {
  --button-bg: #3f4133;
  --button-border: #75775a;
  --button-text: #f3f1ff;

  .button {
    background: var(--button-bg);
    color: var(--button-text);
    border-color: var(--button-border);
  }
}

.buttonContainer {
  padding: 5px;

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    font-size: 12pt;
    border-radius: 3px;
    cursor: pointer;
    gap: 5%;

    &.rightIcon {
      flex-direction: row-reverse;
    }
  }
  
}

