@use "../../styles/vars.module.scss";

.dark {
  background-color: vars.$dark-bg;
  color: vars.$dark-text;

  a:link, a:visited {
    color: vars.$dark-link;
  }

  strong {
    color: vars.$dark-bold-text;
  }

}

.light {
  background: linear-gradient(vars.$light-bg, vars.$light-bg-grad);
  color: vars.$light-text;

  a:link, a:visited {
    color: vars.$light-link;
  }

  strong {
    color: vars.$light-bold-text;
  }

  h2 {
    color: vars.$light-heading-2;
  }

  hr {
    border: none;
    background: vars.$light-heading-border;
  }

}

.main {
  min-height: 100vh;

  .component {
    width: 85vw;
    min-height: 100vh;
    margin: auto;
    margin-top: 8vh;
  }
}
