@use "../../styles/vars.module.scss";

.dark {
  background: vars.$dark-bg;
  color: vars.$dark-text;

  a:link, a:visited {
    color: vars.$dark-link;
  }

  strong {
    color: vars.$dark-bold-text;
  }

  h2 {
    color: vars.$dark-heading-2;
  }

  hr {
    border: none;
    background: vars.$dark-heading-border;
  }

  blockquote {
    border-left-color: vars.$dark-blockquote;
  }


}

.light {
  background: vars.$light-bg;
  color: vars.$light-text;

  a:link, a:visited {
    color: vars.$light-link;
  }

  strong {
    color: vars.$light-bold-text;
  }

  h2 {
    color: vars.$light-heading-2;
  }

  hr {
    border: none;
    background: vars.$light-heading-border;
  }

  blockquote {
    border-left-color: vars.$light-blockquote;
  }

}

.main {
  min-height: 100vh;

  .component {
    width: 85vw;
    min-height: 100vh;
    margin: auto;
    margin-top: 8vh;
  }

  blockquote {
    margin: 1% 0 1% 1%;
    padding: 0px 2%;
    border-left-width: 5px;
    border-left-style: solid;
  }
}
