@use "../../../styles/vars.module.scss";

.footer {
  font-size: 10pt;
  padding: 3vh 5vw;
  margin-top: 5%;
  text-align: center;

  p {
    margin: 0.5% 0%;
  }

  @media screen and (min-width: 810px) {
    margin-top: 0%;
    padding: 1vh 5vw 3vh 5vw;
  }
}

.light {
  background-color: vars.$light-heading-bg;
  color: vars.$light-subtext;
}

.dark {
  background-color: vars.$dark-heading-bg;
  color: vars.$dark-subtext;
}