@use "../../../../../../styles/vars.module.scss";

.page {
    min-height: calc(100vh - 34px);
    box-sizing: border-box;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .splashPage {
        position: absolute;
        width: 100%;
        height: calc(100vh - 34px);
        position: relative;
        overflow: clip;
    
        .splashChara {
            display: block;
            width: 100%;
            position: absolute;
            user-select: none;
            pointer-events: none;
            text-align: center;
            overflow: clip;

            img {
                height: 130%;
                width: auto;
            }

            &.odd {
                transform: translateX(1500px);
                &.light {
                    background-image: linear-gradient(to left, vars.$light-bg 80%, transparent);
                }
                &.dark {
                    background-image: linear-gradient(to left, vars.$dark-bg 80%, transparent);
                }
            }

            &.even {
                transform: translateX(-1500px);
                &.light {
                    background-image: linear-gradient(to right, vars.$light-bg 80%, transparent);
                }
                &.dark {
                    background-image: linear-gradient(to left, vars.$dark-bg 80%, transparent);
                }
            }
        }
    
        &.light {
            background-color: vars.$light-bg;
        }
    }
    
    .loading {
        position: relative;
        z-index: 10;
        width: 100%;
        height: calc(100vh - 34px);
    
        .loader {
            height: calc(98% - 34px);
            align-items: center;
            justify-content: center;
        }
    }

    .home {
        position: absolute;
        top: 0;
        padding: 5% 2% 2% 2%;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .homeGridContainer {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            gap: 7%;
            justify-content: space-around;
            padding: 0% 5%;
            box-sizing: border-box;
            
            .homeGridContainerItem {
                box-sizing: border-box;
                position: relative;
                width: 20%;
                border-radius: 15px;
                font-size: 1.5rem;
                overflow: clip;
                margin-top: 5%;

                .gridItemIcon {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 1% 2%;
                    box-sizing: border-box;

                    .gridItemTitle {
                        font-weight: 600;
                    }
                }

                .gridItemChara {
                    position: absolute;
                    bottom: -20%;
                    left: 25%;
                    z-index: 1;
                }

                .gridItemDesc {
                    position: relative;
                    flex: 0 1 100%;
                    width: 100%;
                    min-height: 100%;
                    padding: 4%;
                    box-sizing: border-box;
                    font-weight: 200;
                    font-size: 1rem;
                    z-index: 4;
                }
            }
        }
    }

    .hallOfFameContainer {
        width: 100%;
        height: auto;
        padding: 2%;
        box-sizing: border-box;

        .hallOfFame {
            position: relative;
            width: 75%;
            height: auto;
            margin: auto;
            margin-top: 5%;

            .timeline {
                position: absolute;
                width: 1px;
                height: 100%;
                left: 50%;

                .timelineLine {
                    width: 100%;
                    height: 100%;
                }
            }

            .hallOfFameItemContainer {
                display: flex;
                align-items: center;
                width: 100%;

                &.odd {
                    justify-content: flex-end;
                }

                .hallOfFameItem {
                    display: flex;
                    align-items: center;
                    gap: 2%;
                    width: 50%;

                    &.odd {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                    }

                    &::after {
                        content: "";
                        flex-basis: 25%;
                        flex-grow: 1;
                        height: 1px;
                    }

                    .hallOfFameAvi {
                        position: relative;
                        width: 100px;
                        height: 100px;
                        overflow: clip;
                        text-align: center;
                        border-radius: 10px;

                        img {
                            position: absolute;
                            left: -225%;
                            top: -25%;
                        }
                    }
                }
            }
            
        }
    }

    &.light {
        .pageHeader {
            .homeButton {
                a:link, a:visited {
                    color: vars.$light-link;
                }
            }
        }

        .homeGridContainer {
            .homeGridContainerItem {
                color: vars.$light-bg;
                border: 2px solid vars.$light-heading-2;
                background-color: vars.$light-heading-2;

                a:link, a:visited {
                    color: vars.$light-bg;
                }

                .gridItemDesc {
                    background-color: vars.$light-bg;
                    color: vars.$light-heading-2;
                }
            }
            
        }

        .hallOfFame {
            .timeline {
                .timelineLine {
                    background-color: vars.$light-button-border;
                }
            }

            .hallOfFameItem {
                &::after {
                    background-color: vars.$light-button-border;
                }

                .hallOfFameAvi {
                    background-color: white;
                    border: 1px solid vars.$light-heading-border;
                }
            }
        }
    }

    &.dark {
        .pageHeader {
            .homeButton {
                a:link, a:visited {
                    color: vars.$dark-link;
                }
            }
        }

        .homeGridContainer {
            .homeGridContainerItem {
                border: 3px solid vars.$dark-heading-2;
                background-color: vars.$dark-heading-2;

                a:link, a:visited {
                    color: vars.$dark-bg;
                }

                .gridItemDesc {
                    background-color: vars.$dark-bg;
                    color: vars.$dark-heading-2;
                }
            }
        }

        .hallOfFame {
            .timeline {
                .timelineLine {
                    background-color: vars.$dark-button-border;
                }
            }

            .hallOfFameItem {
                &::after {
                    background-color: vars.$dark-button-border;
                }

                .hallOfFameAvi {
                    background-color: vars.$dark-heading-bg;
                    border: 1px solid vars.$dark-heading-border;
                }
            }
        }
    }
}

.pageHeader {
    display: flex;
    align-items: center;
    gap: 2%;

    .homeButton {
        display: flex;
        align-items: center;
    }

    h1 {
        margin: 0;
    }
}
