@use "../../../../../../styles/vars.module.scss";

.page {
    min-height: calc(100vh - 34px);
    box-sizing: border-box;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .splashPage {
        position: absolute;
        width: 100%;
        height: calc(100vh - 34px);
        position: relative;
        overflow: clip;
    
        .splashChara {
            display: block;
            width: 100%;
            position: absolute;
            user-select: none;
            pointer-events: none;
            text-align: center;
            overflow: clip;

            img {
                height: 130%;
                width: auto;
            }

            &.odd {
                transform: translateX(1500px);
                &.light {
                    background-image: linear-gradient(to left, vars.$light-bg 80%, transparent);
                }
                &.dark {
                    background-image: linear-gradient(to left, vars.$dark-bg 80%, transparent);
                }
            }

            &.even {
                transform: translateX(-1500px);
                &.light {
                    background-image: linear-gradient(to right, vars.$light-bg 80%, transparent);
                }
                &.dark {
                    background-image: linear-gradient(to left, vars.$dark-bg 80%, transparent);
                }
            }
        }
    
        &.light {
            background-color: vars.$light-bg;
        }
    }
    
    .loading {
        position: relative;
        z-index: 10;
        width: 100%;
        height: calc(100vh - 34px);
    
        .loader {
            height: calc(98% - 34px);
            align-items: center;
            justify-content: center;
        }
    }

    .home {
        position: absolute;
        top: 0;
        padding: 5% 2% 2% 2%;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .homeGridContainer {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            gap: 7%;
            justify-content: space-around;
            padding: 0% 5%;
            box-sizing: border-box;

            @media screen and (max-width: 812px) {
                margin-bottom: 10%;
            }
            
            .homeGridContainerItem {
                box-sizing: border-box;
                position: relative;
                width: 20%;
                border-radius: 15px;
                font-size: 1.5rem;
                overflow: clip;
                margin-top: 5%;

                @media screen and (max-width: 812px) {
                    width: 100%;
                }

                .gridItemIcon {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 1% 2%;
                    box-sizing: border-box;

                    .gridItemTitle {
                        font-weight: 600;
                    }
                }

                .gridItemChara {
                    position: absolute;
                    bottom: -20%;
                    left: 25%;
                    z-index: 1;

                    @media screen and (max-width: 812px) {
                        display: none;
                    }
                }

                .gridItemDesc {
                    position: relative;
                    flex: 0 1 100%;
                    width: 100%;
                    min-height: 100%;
                    padding: 4%;
                    box-sizing: border-box;
                    font-weight: 200;
                    font-size: 1rem;
                    z-index: 4;

                    @media screen and (max-width: 812px) {
                        transform: translateY(0px) !important;
                    }
                }
            }
        }
    }

    .hallOfFameContainer {
        width: 100%;
        height: auto;
        padding: 2%;
        box-sizing: border-box;

        .hallOfFameParagraph {
            padding: 3vh 10vw;

            @media screen and (max-width: 812px) {
                padding: 3%;
            }
        }

        .hallOfFame {
            position: relative;
            width: 75%;
            height: auto;
            margin: 19% auto;

            .timeline {
                position: absolute;
                width: 1px;
                height: 100%;
                left: 50%;

                .timelineLine {
                    width: 100%;
                    height: 100%;
                }
            }

            .hallOfFameItemContainer {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &.odd {
                    flex-direction: row-reverse;
                }

                .hallOfFameItem {
                    display: flex;
                    align-items: center;
                    width: 50%;

                    &.odd {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                    }

                    &::after {
                        content: "";
                        flex-basis: 25%;
                        flex-grow: 1;
                        height: 1px;
                    }

                    .hallOfFameItemAvis {
                        display: flex;
                        gap: 2%;

                        @media screen and (max-width: 812px) {
                            flex-direction: column;
                        }

                        .hallOfFameAvi {
                            position: relative;
                            width: 100px;
                            height: 100px;
                            overflow: clip;
                            text-align: center;
                            border-radius: 10px;
                            user-select: none;
                            pointer-events: none;

                            img {
                                user-select: none;
                                pointer-events: none;
                                position: absolute;
                                left: -230%;
                                top: -25%;
                            }
                        }
                    }

                }

                .hallOfFameItemLabel {
                    position: absolute;
                    bottom: -50px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .shareButton {
                        cursor: pointer;
                    }

                    @media screen and (max-width: 812px) {
                        bottom: -100px;
                        width: 50%;
                        padding: 2%;
                        box-sizing: border-box;
                    }
                }

                .hallOfFameItemPlaceCont {
                    width: 50%;
                    display: flex;
                    align-items: flex-start;

                    &.odd {
                        flex-direction: row-reverse;
                    }

                    .hallOfFameItemPlace {
                        font-weight: 900;
                        font-size: 3.5rem;
                        display: flex;
                        align-items: flex-start;
                        padding: 0% 2%;
                        user-select: none;

                        .suffix {
                            font-size: 1.5rem;
                            font-weight: 400;
                            font-variant: small-caps;
                        }
                    }
                }
                
            }
            
        }
    }

    .popularVoteContainer {
        width: 100%;
        padding: 2%;
        box-sizing: border-box;

        .popularVoteSection {
            margin: auto;
            margin-top: 2vh;
            width: 75%;
            min-height: 70vh;
            padding: 5%;
            box-sizing: border-box;
            border-radius: 5px;
            line-height: 1.5;
            font-size: 1.3rem;
            
            @media screen and (max-width: 812px) {
                width: 95%;
            }

            .popularVoteSplitContainer {
                display: flex;
                align-items: center;
            }

            .popularVotePlaygroundTool {
                .popularVotePlaygroundToolDropdowns {
                    display: flex;
                }

                .popularVoteToolSelected {
                    display: flex;
                    flex-flow: row wrap;
                    margin-top: 2vh;
                    gap: 2%;

                    .popularVoteSelectedChip {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 0.9rem;
                        user-select: none;
                        padding: 3px 1%;
                        border-radius: 5px;
                        margin: 10px 0%;
                        
                        .chipIcon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .popularVoteToolGraph {
                    margin-top: 4vh;

                    .tooltip {
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                    
                        .tooltipText {
                          flex-basis: 1 0 50%;
                    
                          .tooltipName {
                            font-family: vars.$header-font;
                            font-size: 1.3em;
                            font-weight: 600;
                          }
                    
                          .tooltipContent {
                    
                            .tooltipData {
                              font-weight: 700;
                            }
                          }
                        }
                    
                        .tooltipImgWrapper {
                          padding: 2px;
                          flex-basis: 0 0 100px;
                    
                          .tooltipImg {
                            width: 100px;
                            object-fit: cover;
                          }
                        }
                      }

                    .popularVoteGraphLabels {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &.light {
        color: vars.$light-text;

        .homeGridContainer {
            .homeGridContainerItem {
                color: vars.$light-bg;
                border: 2px solid vars.$light-heading-2;
                background-color: vars.$light-heading-2;

                a:link, a:visited {
                    color: vars.$light-bg;
                }

                .gridItemDesc {
                    background-color: vars.$light-bg;
                    color: vars.$light-heading-2;
                }
            }
            
        }

        .hallOfFame {
            .timeline {
                .timelineLine {
                    background-color: vars.$light-button-border;
                }
            }

            .hallOfFameItem {
                &::after {
                    background-color: vars.$light-button-border;
                }

                .hallOfFameAvi {
                    background-color: white;
                    border: 1px solid vars.$light-button-border;
                }
            }

            .hallOfFameItemLabel {
                strong {
                    color: vars.$light-bold-text;
                }

                a:link, a:visited {
                    color: vars.$light-link;
                }

                .shareButton {
                    color: vars.$light-link;
                }
            }

            .hallOfFameItemPlace {
                color: vars.$light-bold-text;

                .suffix {
                    color: vars.$light-link;
                }
            }
        }

        .popularVoteContainer {
            .popularVoteSection {
                background-color: #fff;
                border: 1px solid vars.$light-heading-border;

                .popularVoteSelectedChip {
                    background-color: vars.$light-form-button-bg;
                    border: 1px solid vars.$light-form-button-border;
                    color: vars.$light-form-button-text;
                }

                .popularVoteToolGraph {
                    .tooltip {
                        background: #fff;
                        box-shadow: 2px 2px 3px vars.$light-shadow;
                        border: 1px solid vars.$light-heading-border;

                        .tooltipText {

                            .tooltipName {
                            color: vars.$light-heading-2;
                            }

                            .tooltipContent {

                                .tooltipData {
                                    color: vars.$light-link;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.dark {
        color: vars.$dark-text;

        .homeGridContainer {
            .homeGridContainerItem {
                border: 3px solid vars.$dark-heading-2;
                background-color: vars.$dark-heading-2;

                a:link, a:visited {
                    color: vars.$dark-bg;
                }

                .gridItemDesc {
                    background-color: vars.$dark-bg;
                    color: vars.$dark-heading-2;
                }
            }
        }

        .hallOfFame {
            .timeline {
                .timelineLine {
                    background-color: vars.$dark-button-border;
                }
            }

            .hallOfFameItem {
                &::after {
                    background-color: vars.$dark-button-border;
                }

                .hallOfFameAvi {
                    background-color: vars.$dark-heading-bg;
                    border: 1px solid vars.$dark-button-border;
                }
            }

            .hallOfFameItemLabel {
                strong {
                    color: vars.$dark-bold-text;
                }

                a:link, a:visited {
                    color: vars.$dark-link;
                }

                .shareButton {
                    color: vars.$dark-link;
                }
            }

            .hallOfFameItemPlace {
                color: vars.$dark-bold-text;

                .suffix {
                    color: vars.$dark-link;
                }
            }
        }

        .popularVoteContainer {
            .popularVoteSection {
                background-color: vars.$dark-text-bg;
                border: 1px solid vars.$dark-heading-border;
            }

            .popularVoteSelectedChip {
                background-color: vars.$light-form-button-bg;
                border: 1px solid vars.$light-form-button-border;
                color: vars.$light-form-button-text;
            }

            .popularVoteToolGraph {
                .tooltip {
                    background: vars.$dark-text-bg;
                    box-shadow: 2px 2px 3px vars.$dark-shadow;
                    border: 1px solid vars.$dark-heading-border;

                    .tooltipText {

                        .tooltipName {
                        color: vars.$dark-heading-2;
                        }

                        .tooltipContent {

                            .tooltipData {
                                color: vars.$dark-link;
                            }
                        }
                    }
                }
            }
        }
    }
}
