@use "../../styles/vars.module.scss";

.data {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;

    .donateButtonContainer {
        position: fixed;
        bottom: 0;
    }

    .pageContent {
        width: 100%;
        min-height: calc(100vh - 34px);
        box-sizing: border-box;
    }
}

.light {
    background-color: vars.$light-bg;

    h1 {
        color: vars.$light-heading-2;
    }
}

.dark {
    background-color: vars.$dark-bg;

    h1 {
        color: vars.$dark-heading-2;
    }
}