@use "../../styles/vars.module.scss";

.mdx {
  min-height: 100vh;
  padding-bottom: 30%;

  @media screen and (min-width: 810px) {
    padding-bottom: 5%;
  }

  .component {
    width: 50%;
    min-height: 100%;
    margin: 4% auto 0% auto;
    padding: 20px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5;
    font-size: 14pt;

    @media screen and (max-width: 768px) {
      width: 90%;
      padding: 3%;
      font-size: 12pt;
    }

    .postInfo {
      font-size: 12pt;
    }

    h1 {
      font-family: vars.$header-font;
    }

    blockquote {
      margin: 1% 0 1% 1%;
      padding: 0px 2%;
      border-left-width: 5px;
      border-left-style: solid;
    }
  }
}

.light {
  background-color: vars.$light-bg;
  color: vars.$light-text;

  a:link, a:visited {
    color: vars.$light-link;
  }

  strong {
    color: vars.$light-bold-text;
  }

  h1, h2 {
    color: vars.$light-heading-2;
  }

  hr {
    background: vars.$light-heading-border;
  }

  blockquote {
    border-left-color: vars.$light-blockquote;
  }

  .component {
    background: #fff;
    border-color: vars.$light-heading-border;

    .postInfo {
      color: vars.$light-subtext;
    }
  }
}

.dark {
  background-color: vars.$dark-bg;
  color: vars.$dark-text;

  a:link, a:visited {
    color: vars.$dark-link;
  }

  strong {
    color: vars.$dark-bold-text;
  }

  h1, h2 {
    color: vars.$dark-heading-2;
  }

  hr {
    background: vars.$dark-heading-border;
  }

  blockquote {
    border-left-color: vars.$dark-blockquote;
  }

  .component {
    background: vars.$dark-text-bg;
    border-color: vars.$dark-heading-border;

    .postInfo {
      color: vars.$dark-subtext;
    }
  }
}