@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Mono&display=swap');

/* COLORS */

$primary-color: #1900ff;
$accent-color: #e5ff00;

// light colors

$light-bg: #f5f4fa;
$light-bg-grad: #f3f2f8;
$light-heading-bg: #e1def5;
$light-heading-border: #d3cfeb;
$light-heading-2: #635caf;
$light-text: #131038;
$light-subtext: #5b5599;
$light-shadow: #b5afcf94;
$tooltip-bg: #2f267eee;
$light-link: #777e37;
$light-bold-text: #6b65a8;
$light-button-border: #b5aef0;
$light-button-text: #7c73ce;

// dark colors

$dark-bg: #282450;
$dark-text: #f3f1ff;
$dark-link: #b4c044;
$dark-bold-text: #c2bdf5;

/* FONTS */

$body-font: "Inter", sans-serif;
$header-font: "Space Mono", monospace;