@use "../../../styles/vars.module.scss";

.wrapper {
  width: 100%;

  div {
    margin: auto;
  }

  .tooltip {
    visibility: hidden;
    margin-top: 2%;
    z-index: 2;
    text-align: center;
    background-color: vars.$tooltip-bg;
    color: #fff;
    padding: 0.5vh 0.25vw;
    font-size: 10pt;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.wrapper:hover {
  .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

