@use "../../../styles/vars.module.scss";

.wrapper {
  display: inline-block;
  position: relative;

  div {
    margin: auto;
  }

  .tooltip {
    position: absolute;
    display: none;
    z-index: 2;
    text-align: center;
    background-color: vars.$tooltip-bg;
    color: #fff;
    padding: 0.5vh 0.25vw;
    font-size: 10pt;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
  }

  .tooltip.bottom {
    bottom: 0;
    margin-bottom: -40%;
  }

  .tooltip.top {
    top: 0;
    margin-top: -30%;
  }
}

.wrapper:hover {
  .tooltip {
    display: inline-block;
    opacity: 1;
  }
}

